@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color:white;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px white solid;
}

a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.head-right{
    display: flex;
    gap: 30px;
}

.container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
    border: none;
    border-bottom: 1px white solid;
    padding-left: 0;
    height: 30px;
    margin-bottom: 10px;
}
input:focus{
    outline: none;
}
button{
    width: 100px;
    height: 40px;
}

.profile-container{
    padding: 20px;
    font-size: 32px;
}
.profile-container div{
    margin-bottom: 20px;
}